<launch>
  <node name="controller" pkg="software_interface" type="vrep_controller_test.py" output="screen"/>

  <node name="torque" pkg="software_interface" type="torque_controller.py"/>

  <node name="rosbag_all" pkg="rosbag" type="record" args="record -a -O p_t" />

  <!-- <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" args="/vrep_ros_inerface/measured_joint_angles/position" /> -->
</launch>