<launch>
  <node name="FPGA_controller" pkg="software_interface" type="test_of_PP.py" output="screen"/>

  <!-- <node name="robot_path_planning" pkg="software_interface" type="pp_caller.py" output="screen"/> -->
  
  <node name="robot_simulation" pkg="software_interface" type="robot_simulation.py" />

  <node name="keyboard_input" pkg="software_interface" type="keyboard_control" output="screen"/>
<!-- start the bridge -->
   <param name="RIB_server_ip" value="localhost" type="str"/>
   <param name="RIB_port" value="18944" type="int"/>
   <param name="RIB_type" value="server" type="str"/>
   <node pkg="ros_igtl_bridge" type="ros_igtl_bridge_node" name="ros_igtl_bridge_node">
   </node>
<!-- start the test -->
   <node pkg="ros_igtl_bridge" type="ros_igtl_bridge_needle" name="needle_overlay_server">
   </node>
</launch>